body {
    font-family: Arial, Helvetica, sans-serif;
}

.site-about p {
    font-size: 14px;
}

.col-sm-6 {
    padding: 0;
}

.text {
    padding-right: 6px;
    padding-left: 6px;
}

.panel {
    text-align: center;
}

.name-header {
    background: #222;
    color: white;
    text-align: center;
    padding: 6px;
}

.service-row {
    padding: 10px;
}

.site-gallery .slider {
    display: inline-block;
    white-space: nowrap;
}

#map {
    height: 400px;
    width: 100%;
}

.footer {
    font-size: 10px;
    height: auto;
}

.footer ul {
    list-style-type: none;
    text-align: center;
}

.footer p {
    text-align: center;
    font-weight: bold;
}